*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 10px;
}

.contact-section {
    padding: 1rem 0;
}

.contact-us {
    padding: 5rem 20rem 2rem 20rem;
    font-size: 2.8rem;
    background-color: white;
    border-radius: 2rem;
}

.heading--2 {
    padding: 2rem 4rem;
    color: black;
    font-weight: bold;
    font-size: 4rem;
}

.form-data {
    display: grid;
    grid-template-columns: auto auto;
    color: black;
    justify-content: center;
    align-items: center;
    padding: 3rem 4rem 0rem 4rem;
    gap: 3.6rem 2rem;
}

.form-name {
    width: 26rem;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    border: 1px solid;
    border-radius: 3rem;
}

#mail {
    width: 50rem;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    border: 1px solid;
    border-radius: 3rem;
}

.for-output{
    width: 50rem;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    border: 1px solid;
    border-radius: 3rem;
}

.grid-email {
    grid-column: 1/ span 2;
}

.grid-text-area {
    grid-column: 1/ span 2;
}

#area {
    border: 1px solid;
    border-radius: 3rem;
    padding: 1rem 2rem;
}

label {
    font-size: 2.4rem;
    padding: 2rem;
    font-weight: bold;
}

.area-label {
    vertical-align: top;
    padding-right: 5.5rem;
}

.label-mail {
    padding-right: 5rem;
}

.btn--1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 2rem;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    background-color: orangered;
    border: none;
    border-radius: 3rem;
}

.btn--1:hover{
    background-color: orange;
    cursor: pointer;
}

.alert-msg{
    position: fixed;
    background-color: white;
    border: 1px solid black;
    padding: 10rem;
    text-align: center;
    line-height: 2;
    font-size: 2rem;
    z-index: 1;
    top: 25%;
    left: 36%;
    border-radius: 3rem;
    display: none;
}

.msg-1{
    color: orangered;
}
.btn-home{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 1.3rem 2.3rem;
    background-color: orangered;
    border: 1px solid;
    border-radius: 2rem;
    cursor: pointer;
    line-height: 3;
}

.btn-home:hover{
    background-color: orange;
}