.product-main{
    padding: 1% 10%;
}

.title{
    font-size: 2rem;
}


.product-img{
    max-width: 100%;
}

.cart-btn{
    font-size: 0.8rem;
    border: 1px solid rgb(218, 218, 218);
    color: rgb(129, 129, 129);
    padding: 2px 6px;
    border-radius: 8px;
}

.cart-btn:hover{
    color: rgb(218, 218, 218);
    background-color: rgb(78, 78, 78);
}